@model MvcRazorLearnings.Models.BasicModel;
@{
}

<h1 class="display-4">@@model</h1>
<p>Each Razor page has 1 model representing the data that page can access, declared at the top of the file as: <code>@@model Namespace.ModelName;</code></p>
<p>it can be used in the HTML of the razor page using <code>@@Model.PropertyName</code></p>
<p>or in C# if the razor page using <code>Model.PropertyName</code></p>

<h3>Example</h3>
<strong>Our Model:</strong>
<pre class="code-block"><code>
    namespace MvcRazorLearnings.Models;

    public class BasicModel
    {
        public string PropertyName = "My Property Name!";
    }
</code></pre>

<strong>Our Razor Page:</strong>
<pre class="code-block"><code>
    @@model MvcRazorLearnings.Models.BasicModel;

    ...


    @@if (Model.PropertyName != null)
    {
        &lt;p&gt;The basic property is: @@Model.PropertyName&lt;/p&gt;
    }
</code></pre>

<strong>Result:</strong>
@if (Model.PropertyName != null)
{
    <p>The basic property is: @Model.PropertyName</p>
}