@{
}

<h1 class="display-4">RenderSection</h1>
<p>RenderSection can be used to display specific code from a view at a different place in the layout than the <code>RenderBody</code> section.</p>

<h3>Example</h3>
<p>We can modify <code>_Layout.cshtml</code> to include a new section called <code>RenderSectionExample</code>:</p>

<pre class="code-block"><code>
    &lt;head&gt;...&lt;/head&gt;
    &lt;body&gt;
        &lt;header&gt;...&lt;/header&gt;
        ...
            @@RenderBody()
        ...

        &lt;footer&gt;...&lt;/footer&gt;

        <mark>@@RenderSection("RenderSectionExample", required: false)</mark>
    &lt;/body&gt;
</code></pre>

<p>The first parameter is the name of the section: "RenderSectionExample", and the second is whether or not all views are required to have that section defined in their cshtml template.</p>

<p>In a razor page view, we can add the section using its name and <code>{ }</code> to define what should be shown in that section:</p>

<pre class="code-block"><code>
    @@section RenderSectionExample {
        &lt;h1 style="color: red; font-weight: 700;"&gt;Here is some important content&lt;/h1&gt;
    }
</code></pre>

<p>This will render the <code>h1</code> tag below the footer of the app, since this is where the section is called in the <code>_Layout.cshtml</code> file.</p>

<p>You should see it below.</p>
@section RenderSectionExample {
    <h1 style="color: red; font-weight: 700;">Here is some important content</h1>
}