@{
    ViewData["Title"] = "Razor Page";
}

<div class="text-center">
    <h1 class="display-4">Razor Pages Offer...<h1>
    <p>light weight server side rendering & cross platform support (with good SEO)</p>
</div>
